*~
*.elc
auto-save-list
ac-comphist.dat
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
projectile-bookmarks.eld
session*
.emacs.desktop
.emacs.desktop.lock
.ido.last